<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="viewport" >
        <title> File </title>
        <link rel="stylesheet" href="/file.css">
    </head>
    <body>
        <% const { id, name, size, uploadTime } = file %>
        <div>
            <div id="info">
                <p> <%= name %> </p>
                <p> <%= size %> </p>
                <p> <%= uploadTime %> </p>
            </div>
            <form action="/file/<%= id %>/download" method="POST">
                <button type="submit"> Download </button>
            </form>
            <form action="/file/<%= id %>/delete" method="POST">
                <button type="submit"> Delete </button>
            </form>
        </div>
    </body>
</html>