<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> File Uploader </title>
    <link rel="stylesheet" href="/folder.css">
</head>
<body>
    <% if (prev_folder) { %>
        <a href="/folder/<%= prev_folder.id %>"><%= prev_folder.name %></a>
    <% } %>
    <h1><%= name %></h1>
    <form action="/log-out" method="POST">
        <button type="submit"> Log Out </button>
    </form>
    <form action="/folder/<%= folder_id %>/upload" method="POST" enctype="multipart/form-data">
        <input type="file" id="file" name="file" required>
        <button type="submit"> Submit </button>
    </form>
    <form action="/folder/<%= folder_id %>/create-folder" method="POST">
        <label for="name"> Name: </label>
        <input type="text" id="name" name="name">
        <button type="submit"> Create Folder </button>
    </form>
    <div id="items">
        <% items.folders.forEach( folder => { %>
            <a class="folder" href="/folder/<%= folder.id %>" data-id="<%= folder.id %>">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <title>folder</title>
                    <path d="M10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6H12L10,4Z" />
                </svg>
                <%= folder.name %>
            </a>

        <% }) %>
        <% items.files.forEach( file => { %>
            <a class="file" href="/file/<%= file.id %>" data-id="<%= file.id %>">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <title>file</title>
                    <path d="M13,9V3.5L18.5,9M6,2C4.89,2 4,2.89 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2H6Z" />
                </svg>
                <%= file.original_name %>
            </a>
        <% }) %>
    </div>
    <% if (prev_folder) { %>
        <form action="/folder/<%= folder_id %>/delete" method="POST">
            <button type="submit"> Delete </button>
        </form>
    <% } %>
</body>
<script>
    const folders = document.querySelectorAll(".folder")
    const files = document.querySelectorAll(".file")
    const curr_folder = "<%= folder_id %>"
    let dragged

    folders.forEach(folder => {
        folder.addEventListener("dragstart", (event) => {
            dragged = event.target
        })

        folder.addEventListener("dragover", (event) => {
            event.preventDefault()
        })

        folder.addEventListener("drop", (event) => {
            event.preventDefault()
            const dropped = event.target.closest('a')
            fetch(`/folder/${curr_folder}/move`, {
                method: 'POST',
                body: JSON.stringify({
                    dragged: {
                        type: dragged.className,
                        id: dragged.dataset.id
                    },
                    dropped: {
                        id: dropped.dataset.id
                    },
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (response.ok) {
                    window.location.reload(); // Reload the page to fetch updated data
                } else {
                    console.error('Error updating folder:', response.statusText);
                }
            })
        })
    })

    files.forEach(file => {
        file.addEventListener("dragstart", (event) => {
            dragged = event.target
        })
    })

</script>
</html>