<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> File Uploader </title>
        <link rel="stylesheet" href="/css/folder.css">
    </head>
    <body>
        <div id="navbar">
            <div id="path">
    <!--            for filepath make sure that if the length of the path is 0 that the home button is not clickable-->
    <!--            if we are at 0 index then it is the home index -->
    <!--            make any segment that isn't the current segment the user is on to be clickable and to redirect-->
                <% for (let i = 0; i < folderPath.length; i++) {%>
                    <% let [ name, folderId ] = folderPath[i] %>
                    <% if (i === 0) { %>
                        <% name = "Home" %>
                    <% } %>

                    <% if ( i !== folderPath.length - 1) { %>
                        <a href="/folder/<%= folderId %>"><%= name %></a>
                        <p> > </p>
                    <% } else { %>
                        <p data-curr-folder="<%= folderId %>"><%= name %></p>
                    <% } %>
                <% }%>
            </div>
    <!--        show username in top right, and on click give user settings menu -->
            <div id="profile">
                <div id="profile-header">
                    <%= username %>
                    <div class="toggle-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <title>menu-up</title>
                            <path d="M7,15L12,10L17,15H7Z" />
                        </svg>
                    </div>
                </div>
                <div class="menu">
                    <form action="/log-out" method="POST">
                        <button type="submit"> Log Out </button>
                    </form>
                </div>
            </div>

        </div>
    <!--    action menu that when clicked gives option to either upload file or create folder-->
        <div id="actions">
            <div id="actions-header">
                New
                <div class="toggle-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <title>menu-up</title>
                        <path d="M7,15L12,10L17,15H7Z" />
                    </svg>
                </div>
            </div>
            <div class="menu">
                <form id="file-form" action="/folder/<%= folderId %>/upload" method="POST" enctype="multipart/form-data">
                    <input type="file" id="file" name="file" required>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <title>file-upload</title>
                        <path d="M14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2M13.5,16V19H10.5V16H8L12,12L16,16H13.5M13,9V3.5L18.5,9H13Z" />
                    </svg>
                    <p> File </p>
                </form>

                <div id="folder-form">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <title>folder-plus</title>
                        <path d="M13 19C13 19.34 13.04 19.67 13.09 20H4C2.9 20 2 19.11 2 18V6C2 4.89 2.89 4 4 4H10L12 6H20C21.1 6 22 6.89 22 8V13.81C21.12 13.3 20.1 13 19 13C15.69 13 13 15.69 13 19M20 18V15H18V18H15V20H18V23H20V20H23V18H20Z" />
                    </svg>
                    <p> Folder </p>
                </div>
            </div>
        </div>

    <!--    iterates through the two lists in items and renders each item with the appropriate icon-->
        <div id="items">
            <% items.folders.forEach( folder => { %>
                <% const { id, name } = folder %>
                <a class="folder" href="/folder/<%= id %>" data-id="<%= id %>">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <title>folder</title>
                        <path d="M10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6H12L10,4Z" />
                    </svg>
                    <p><%= name %></p>
                </a>
            <% }) %>

            <% items.files.forEach( file => { %>
                <% const { id, name } = file %>
                <a class="file" href="/file/<%= id %>" data-id="<%= id %>">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <title>file</title>
                        <path d="M13,9V3.5L18.5,9M6,2C4.89,2 4,2.89 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2H6Z" />
                    </svg>
                    <p><%= name %></p>
                </a>
            <% }) %>
        </div>
    <!--    display the delete button if length is not 1 due to it being home folder and it not being psosible to delete it -->
        <% if (folderPath.length !== 1) { %>
            <form action="/folder/<%= folderId %>/delete" method="POST">
                <button type="submit"> Delete </button>
            </form>
        <% } %>
    </body>
    <script type="module" src="/js/script.js"> </script>
</html>