<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> File Uploader </title>
    <link rel="stylesheet" href="/css/folder.css">
</head>
<body>
    <div id="navbar">
        <div id="path">
            <% for (let i = 0; i < file_path.length; i++) {%>
                <% const [ name, folder_id ] = file_path[i] %>
                <% if ( i !== file_path.length - 1) { %>
                    <a href="/folder/<%= folder_id %>"><%= name %></a>
                    <p> > </p>
                <% } else { %>
                    <p data-curr-folder="<%= folder_id %>"><%= name %></p>
                <% } %>
            <% }%>
        </div>
        <div id="profile">
            <div id="profile-header">
                <%= account.username %>
                <div class="toggle-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <title>menu-up</title>
                        <path d="M7,15L12,10L17,15H7Z" />
                    </svg>
                </div>
            </div>
            <div class="menu">
                <form action="/log-out" method="POST">
                    <button type="submit"> Log Out </button>
                </form>
            </div>
        </div>

    </div>
    <div id="actions">
        <div id="actions-header">
            New
            <div class="toggle-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <title>menu-up</title>
                    <path d="M7,15L12,10L17,15H7Z" />
                </svg>
            </div>
        </div>
        <div class="menu">
            <form id="file-form" action="/folder/<%= folder_id %>/upload" method="POST" enctype="multipart/form-data">
                <input type="file" id="file" name="file" required>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <title>file-upload</title>
                    <path d="M14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2M13.5,16V19H10.5V16H8L12,12L16,16H13.5M13,9V3.5L18.5,9H13Z" />
                </svg>
                <p> File </p>
            </form>

            <div id="folder-form">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <title>folder-plus</title>
                    <path d="M13 19C13 19.34 13.04 19.67 13.09 20H4C2.9 20 2 19.11 2 18V6C2 4.89 2.89 4 4 4H10L12 6H20C21.1 6 22 6.89 22 8V13.81C21.12 13.3 20.1 13 19 13C15.69 13 13 15.69 13 19M20 18V15H18V18H15V20H18V23H20V20H23V18H20Z" />
                </svg>
                <p> Folder </p>
            </div>
        </div>
    </div>

    <div id="items">
        <% items.folders.forEach( folder => { %>
            <a class="folder" href="/folder/<%= folder.id %>" data-id="<%= folder.id %>">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <title>folder</title>
                    <path d="M10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6H12L10,4Z" />
                </svg>
                <p><%= folder.name %></p>
            </a>

        <% }) %>
        <% items.files.forEach( file => { %>
            <a class="file" href="/file/<%= file.id %>" data-id="<%= file.id %>">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <title>file</title>
                    <path d="M13,9V3.5L18.5,9M6,2C4.89,2 4,2.89 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2H6Z" />
                </svg>
                <p><%= file.original_name %></p>
            </a>
        <% }) %>
    </div>
    <% if (file_path.length >= 2) { %>
        <form action="/folder/<%= folder_id %>/delete" method="POST">
            <button type="submit"> Delete </button>
        </form>
    <% } %>
</body>
<script type="module" src="/js/script.js"> </script>
</html>