<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> File Uploader </title>
    <link rel="stylesheet" href="/folder.css">
</head>
<body>
    <div id="navbar">
        <div id="path">
            <% if (prev_folder) { %>
                <a href="/folder/<%= prev_folder.id %>"><%= prev_folder.name %></a>
                <p> > </p>
            <% } %>
            <p><%= name %></p>
        </div>
        <div id="profile">
            <div id="profile-header">
                <%= account.username %>
                <div class="toggle-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <title>menu-up</title>
                        <path d="M7,15L12,10L17,15H7Z" />
                    </svg>
                </div>
            </div>
            <div class="menu">
                <form action="/log-out" method="POST">
                    <button type="submit"> Log Out </button>
                </form>
            </div>
        </div>

    </div>
    <div id="actions">
        <div id="actions-header">
            Actions
            <div class="toggle-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <title>menu-up</title>
                    <path d="M7,15L12,10L17,15H7Z" />
                </svg>
            </div>
        </div>
        <div class="menu">
            <form id="file-form" action="/folder/<%= folder_id %>/upload" method="POST" enctype="multipart/form-data">
                <input type="file" id="file" name="file" required>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <title>file-upload</title>
                    <path d="M14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2M13.5,16V19H10.5V16H8L12,12L16,16H13.5M13,9V3.5L18.5,9H13Z" />
                </svg>
                <p> New File </p>
            </form>

            <form id="folder-form" action="/folder/<%= folder_id %>/create-folder" method="POST">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <title>folder-plus</title>
                    <path d="M13 19C13 19.34 13.04 19.67 13.09 20H4C2.9 20 2 19.11 2 18V6C2 4.89 2.89 4 4 4H10L12 6H20C21.1 6 22 6.89 22 8V13.81C21.12 13.3 20.1 13 19 13C15.69 13 13 15.69 13 19M20 18V15H18V18H15V20H18V23H20V20H23V18H20Z" />
                </svg>
                <p> New Folder </p>
            </form>
        </div>
    </div>

    <div id="items">
        <% items.folders.forEach( folder => { %>
            <a class="folder" href="/folder/<%= folder.id %>" data-id="<%= folder.id %>">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <title>folder</title>
                    <path d="M10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6H12L10,4Z" />
                </svg>
                <%= folder.name %>
            </a>

        <% }) %>
        <% items.files.forEach( file => { %>
            <a class="file" href="/file/<%= file.id %>" data-id="<%= file.id %>">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <title>file</title>
                    <path d="M13,9V3.5L18.5,9M6,2C4.89,2 4,2.89 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2H6Z" />
                </svg>
                <%= file.original_name %>
            </a>
        <% }) %>
    </div>
    <% if (prev_folder) { %>
        <form action="/folder/<%= folder_id %>/delete" method="POST">
            <button type="submit"> Delete </button>
        </form>
    <% } %>
</body>
<script>
    const folders = document.querySelectorAll(".folder")
    const files = document.querySelectorAll(".file")
    const curr_folder = "<%= folder_id %>"
    let dragged

    folders.forEach(folder => {
        folder.addEventListener("dragstart", (event) => {
            dragged = event.target
        })

        folder.addEventListener("dragover", (event) => {
            event.preventDefault()
        })

        folder.addEventListener("drop", (event) => {
            event.preventDefault()
            const dropped = event.target.closest('a')
            fetch(`/folder/${curr_folder}/move`, {
                method: 'POST',
                body: JSON.stringify({
                    dragged: {
                        type: dragged.className,
                        id: dragged.dataset.id
                    },
                    dropped: {
                        id: dropped.dataset.id
                    },
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (response.ok) {
                    window.location.reload()
                } else {
                    console.error('Error updating folder:', response.statusText)
                }
            })
        })
    })

    files.forEach(file => {
        file.addEventListener("dragstart", (event) => {
            dragged = event.target
        })
    })

    fetch(`/folders/`, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    })
        .then(response => response.json())
        .then(data => console.log(data))

    const menuUp = `
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <title>menu-up</title>
                <path d="M7,15L12,10L17,15H7Z" />
            </svg>
        `

    const menuDown = `
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <title>menu-down</title>
                <path d="M7,10L12,15L17,10H7Z" />
            </svg>
        `

    const profile_menu = document.querySelector("div#profile > div.menu")
    const profile_header = document.getElementById("profile-header")
    const profile_toggle_icon = profile_header.querySelector(".toggle-icon")
    profile_header.addEventListener("click", (event) => {
        profile_menu.style.display = profile_menu.style.display === "flex" ? "none" : "flex"
        profile_toggle_icon.innerHTML = profile_toggle_icon.innerHTML.includes("menu-up") ? menuDown : menuUp
    })

    const action_menu = document.querySelector("div#actions > div.menu")
    const action_header = document.getElementById("actions-header")
    const action_toggle_icon = action_header.querySelector(".toggle-icon")
    action_header.addEventListener("click", (event) => {
        action_menu.style.display = action_menu.style.display === "flex" ? "none" : "flex"
        action_toggle_icon.innerHTML = action_toggle_icon.innerHTML.includes("menu-up") ? menuDown : menuUp
    })

    const file_form = document.getElementById("file-form")
    const file_input = file_form.querySelector("input")
    file_form.addEventListener('click', () => {
        file_input.click()
    })

    file_input.addEventListener('change', () => {
        file_form.submit()
    })

    const folder_form = document.getElementById("folder-form")
    folder_form.addEventListener('click', () => {
        folder_form.submit()
    })
</script>
</html>