<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> File Uploader </title>
        <link rel="stylesheet" href="/css/folder.css">
    </head>
    <body>
        <div id="content">
            <div id="file-structure">

            </div>
            <div id="display">
                <div id="navbar">
                    <!--    action menu that when clicked gives option to either upload file or create folder-->
                    <% if (isFolder) { %>
                        <%- include('components/folder-actions', { folderId }) %>
                    <% } else { %>
                        <%- include('components/file-actions', { id: file.id }) %>
                    <% } %>
                    <!--        show username in top right, and on click give user settings menu -->
                    <%- include('components/profile', { username }) %>
                </div>

                <!--    iterates through the two lists in items and renders each item with the appropriate icon-->
                <% if (isFolder) { %>
                    <%- include('components/items', { items, folderId, pathLength: path.length }) %>
                <% } else {%>
                    <% const { id, name, size, uploadTime, relativeRoute } = file %>
                    <%- include('components/file-data', { id, size, uploadTime, shareExpiration, relativeRoute }) %>
                    <%- include('components/share-form', { id }) %>
                <% } %>
            </div>
        </div>
        <%- include('components/path', { isFolder, path }) %>
    </body>
    <% if (isFolder) { %>
        <script type="module" src="/js/folderScript.js"></script>
    <% } else { %>
        <script type="module" src="/js/fileScript.js"></script>
    <% } %>
</html>